version: '3'

services:
  zookeeper:
    image: 'bitnami/zookeeper:latest'
    ports:
      - '2181:2181'
    volumes:
      - ./zookeeper-persistence:/bitnami/zookeeper
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes

  kafka1:
    image: 'bitnami/kafka:2'
    ports:
      - '9092'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - ./kafka-persistence/kafka1:/bitnami/kafka
    depends_on:
      - zookeeper

  kafka2:
    image: 'bitnami/kafka:2'
    ports:
      - '9092'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      - ./kafka-persistence/kafka2:/bitnami/kafka
    depends_on:
      - zookeeper

  kafka3:
    image: 'bitnami/kafka:2'
    ports:
      - '9092'
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
    volumes:
      -  ./kafka-persistence/kafka3:/bitnami/kafka
    depends_on:
      - zookeeper

  kafka-manager:
    image: 'sheepkiller/kafka-manager'
    ports:
      - '9091:9000'
    environment:
      - ZK_HOSTS=zookeeper:2181
      - APPLICATION_SECRET=letmein
    depends_on:
      - kafka1
      - kafka2
      - kafka3

  kafkacat:
    image: confluentinc/cp-kafkacat
    command: sleep infinity
    
